html, body {
  height: 100%;
  margin: 0;
}
.texttitle {
    color: #333; 
    font-size: 40px; 
    font-family:Comic sans-serif;
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: underline; 
    line-height: 1.5; 
    word-spacing: 3px; 
  }

  .textRules {
    color: #f8f4f4;  
    font-size: 40px; 
    font-family:Comic sans-serif;
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: underline; 
    line-height: 1.5; 
    word-spacing: 3px; 
  }
  
  .results{
    font-size: 250px; 
    font-family:Comic sans-serif;
    word-spacing: 3px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    height: 200px;
    margin-top:50px;
  }

  .hits{
    font-size: 30px; 
    font-family:Comic sans-serif;
    word-spacing: 3px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    height: 50px;

  }
  .highscore{
    font-size: 20px; 
    font-weight: bold; 
    font-family:Comic sans-serif;
    word-spacing: 3px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    height: 50px;
    margin-bottom: 50px;
    color: #4fb43b;

  }
  .score{
    font-size: 50px; 
    font-family:Comic sans-serif;
    word-spacing: 3px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    height: 120px;
  }

  .centerbutton{
    justify-content: center;
    align-items: center; 
  }

  .button{
    background-color: rgb(36, 39, 37);
    color: white;
    border:none;
    height: 50px;
    width: 300px;
    border-radius:30px;
    cursor: pointer;
    margin-top:50px;
}
.button:hover{
opacity: 0.7;
}
.button:active{
opacity: 0.5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
}

.text4{
  color: #f8f4f4; 
  font-size: 30px; 
  font-family:Comic sans-serif;
  text-align: center; 
  line-height: 1.5; 
  word-spacing: 3px; 
}

.text5{
  color: #4fb43b;
  font-size: 35px; 
  font-family:Comic sans-serif;
  text-align: center; 
  line-height: 1.5; 
  word-spacing: 3px; 
  font-weight: bold; 
}

.text6{
  color: #b42b26;
  font-size: 30px; 
  font-family:Comic sans-serif;
  text-align: center; 
  line-height: 1.5; 
  word-spacing: 3px; 
}
.text7{
  color: #429ccf;
  font-size: 30px; 
  font-family:Comic sans-serif;
  text-align: center; 
  line-height: 1.5; 
  word-spacing: 3px; 
}

.rules_flexbox{
  margin-top:150px;
  margin-left: auto;
  margin-right:auto;
  background-color: rgb(36, 39, 37);
  width:1000px;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 100px;
  text-align:center;
  
}

.message-box {
  visibility: hidden;
  height:30px;
  width:400px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 2px solid #0f0f0f;
  font-size: 30px;
  text-align: center;
  color: #333;
  margin-top:150px;
}

body {
  background-image: url('backgrounddice1.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat:no-repeat;
  min-height: 100vh; 
  margin: 0; 
  overflow-y: auto;
  background-attachment: fixed;
}
.empty-div {
  width: 10px;;
  height: 200px;
}
.card-container {
  font-weight: bold; 
  height:30px;
  width:300px;
  margin-left: auto;
  margin-right:auto;
  padding: 10px;
  background-color: #429ccf;
  font-size: 25px;
  text-align: center;
  color: #333;
  margin-top:150px;
}
.card-text {
  margin: 0;
}
